<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>PSVR2 Player</string>
	<key>CFBundleDisplayName</key>
	<string>PSVR2 Player</string>
	<key>CFBundleIdentifier</key>
	<string>local.psvr2player</string>
	<key>CFBundleExecutable</key>
	<string>psvr2player</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>

	<!-- Без этих строк macOS не может показать запрос доступа
	     и обращение к тому просто зависает -->
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Для воспроизведения видео с внешних дисков.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Для воспроизведения видео с сетевых дисков.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Для доступа к видео на рабочем столе.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Для доступа к видео в папке «Документы».</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Для доступа к видео в папке «Загрузки».</string>
</dict>
</plist>
